@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ------İBRAHİM SECTİON1 ------*/

#kino-container {
    margin: 0 auto;
    margin: 21px 121px;
}

.logo {
    width: 112px;
    height: 66px;

}

.navbar {

    display: flex;
    font-family: 'Roboto';
    margin-top: 90px;
    font-size: 20px;
    gap: 40px;

}

.navbar div {
    display: flex;
    align-items: center;
    gap: 8px;
}


.navbar div img {
    width: 22px;
    height: 22px;

}

.kino-info {
    display: flex;
    justify-content: space-between;
    margin: 0;
}


.kino-text h1 {

    font-family: 'Roboto Slab';
    font-size: 80px;
    line-height: 101.4%;
    width: 628px;
    height: 160px;
    margin: 10px 0;

}


.kino-text p {

    font-family: 'Roboto';
    font-size: 20px;
    line-height: 150%;
    margin: 25px 0;
    width: 414px;
    height: 62px;

}


.kino-main-img {

    width: 304px;
    height: 356px;

}

.kino-second {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.kino-second-blue {

    width: 483.83px;
    height: 200px;
    background: #1E4681;
    color: #FFFFFF;
    border-radius: 5px;


}

.kino-second-blue p {
    font-family: 'Roboto Slab';
    font-size: 25px;
    padding: 0 23px;
    margin-bottom: 0;

}

.kino-second-blue p:last-child {
    font-family: 'Roboto';
    font-size: 20px;
    text-align: right;
    margin: 0;

}

@media screen and (min-width: 830px) and (max-width:1440px) {
    #kino-container {
        margin: 0 auto;
        margin: 21px 70px;
    }

    .kino-container-main {
        margin-right: 70px;
    }

    .logo {
        width: 65px;
        height: 38px;
    }

    .navbar {
        margin-top: 60px;
        font-size: 12px;
        gap: 20px;
    }

    .navbar div {
        gap: 8px;
    }

    .navbar div img {
        width: 13px;
        height: 13px;
    }


    .kino-text h1 {
        font-size: 46px;
        width: 363px;
        height: 90px;
        margin: 7px 0;
    }

    .kino-text p {
        font-size: 12px;
        margin: 20px 0;
        width: 264px;
        height: 36px;
    }

    .kino-main-img {
        width: 176px;
        height: 206px;
        margin-top: 5px;
    }

    .kino-second {
        margin-top: 40px;
    }

    .kino-second-blue {
        width: 280px;
        height: 116px;
        border-radius: 3px;
    }

    .kino-second-blue p {
        font-size: 14px;
        padding: 0 15px;
    }

    .kino-second-blue p:last-child {
        font-size: 12px;
    }
}

@media screen and (min-width: 375px) and (max-width:830px) {
    #kino-container {
        margin: 0 auto;
        margin: 36px 35px;
    }

    .logo {
        width: 52px;
        height: 31px;
    }

    .navbar {
        margin-top: 45px;
        font-size: 10px;
        gap: 15px;
    }

    .navbar div {
        gap: 4px;
    }

    .navbar div img {
        width: 10px;
        height: 10px;
    }

    .kino-info {
        display: flex;
        flex-direction: column;
    }

    .kino-text {
        align-self: flex-start;
    }

    .kino-text h1 {
        font-size: 37px;
        width: 293px;
        height: 73px;
        margin: 4px 0;
    }

    .kino-text p {
        font-size: 10px;
        margin-top: 15px;
        margin-bottom: 0;
        width: 212px;
        height: 30px;
    }

    .kino-main-img {
        width: 141px;
        height: 175px;
        align-self: flex-end;

    }

    .kino-second {
        margin-top: 40px;
        margin-right: 70px;

    }

    .kino-second-blue {
        width: 225px;
        height: 93px;
        border-radius: 2.3px;
    }

    .kino-second-blue p {
        font-size: 11px;
        padding: 0 12px;
    }

    .kino-second-blue p:last-child {
        font-size: 10px;
    }
}